body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer {
  margin-top: auto;
}

.grey {
    color: #c5c8cdBF;
    background-color: #c5c8cdBF;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(59, 57, 57, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


} 

.navbar .nav-link {
  color: #778858;
}

.title-color {
  color: rgba(119, 136, 88, 1);  /* 1 means 100% opacity */
}

.custom-toggler-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
}

.custom-toggler-icon .bar {
  height: 3px;
  background-color: #778858;
  border-radius: 2px;
}

.navbar-toggler {
  border: 2px solid #778858; 
  border-radius: 4px;         
}
.navbar-toggler:hover {
  border-color: #99aa70; 
}

.custom-aside {
    border-right: 2px solid rgba(119, 136, 88, 0.3) !important;
    min-height: 100vh;
    box-shadow: -4px 0 8px -2px rgba(0, 0, 0, 0.1);
}
